<div class="container fluid">
    <div class="row">
        <div class="col-12 text-center py-3">
            <h1>List of Things to Learn</h1>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6">
            <h2>Things I Want to Learn</h2>
            <ul class="list-group">
                {{#each learningList}}
                {{#unless mastered}}
                <li class="list-group-item change-mastered" data-id="{{id}}">{{learn_name}}<button type="button"
                        class="btn btn-dark float-right">Mastered</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>Things I Have Mastered</h2>
            <ul class="list-group">
                {{#each learningList}}
                {{#if mastered}}
                <li class="list-group-item" aria-disabled="true" data-id="{{id}}">{{learn_name}}<button type="button"
                        class="btn btn-light float-right">Remove</button></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center py-3">
            <form class="create-form">
                <div class="form-group w-50 align-center mx-auto">
                    <label for="form">Input New Things to Learn Here</label>
                    <textarea class="form-control" id="form" rows="3" name="name"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>